/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 28, 2016, 1:53:11 PM
    Author     : temposys
*/

.breadcrumb {
    margin-top: 20px;
}
/*.cl-green {
    color: green;
}
.cl-red {
    color: red;
}*/
/*.container-fluid {
    padding-top: 20px;
}*/

.navbar-brand{
	padding: 10px 10px;
}
.navbar-brand > img {
    width: 30px;
    margin-right: 10px;
    display: inline-block;
}

.navbar-brand sup {
    color: darkblue;
  font-style: italic;
  font-weight: 600;
  padding-left: 2px;
}

@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	#page-wrapper .mobile-friendly-table table,
	#page-wrapper .mobile-friendly-table thead,
	#page-wrapper .mobile-friendly-table tbody,
	#page-wrapper .mobile-friendly-table th,
	#page-wrapper .mobile-friendly-table td,
	#page-wrapper .mobile-friendly-table tr {
		display: block;
	}

/*        #page-wrapper .mobile-friendly-table thead,
        #page-wrapper .mobile-friendly-table th {
            display: none;
        }*/

	/* Hide table headers (but not display: none;, for accessibility) */
	#page-wrapper .mobile-friendly-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#page-wrapper .mobile-friendly-table tr { border: 1px solid #ccc; }

	#page-wrapper .mobile-friendly-table td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#page-wrapper .mobile-friendly-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#page-wrapper .mobile-friendly-table td:before { content: attr(data-title); }
}

.show-in-line{
	max-width: none;
	white-space: nowrap;

}

.content-header .page-header{
	font-size: 36px;
}
.lng-picker{
	margin-top: 15px;
}
.lng-picker a{
	color: white !important;
}
.lng-picker a:hover{
	color: white;
}
.language-picker.large i {
        vertical-align: middle;
}
.lng-picker li>a{
	color: #444 !important;
}
.lng-picker li>a:hover{
	color: #444;
}

.language-picker li {
    padding: 0 !important;
}

.language-picker ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    border: 1px solid rgba(0, 0, 0, .15) !important;
    border-radius: 4px !important;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
/*    top: 100%;
    z-index: 100;
    white-space: nowrap;
    left: -5px;*/
}