.vsc-service-icon{
    text-align: center!important;
}

.logo > *{
    vertical-align:middle;
}

.navigation-header.fixmenu .navigation-brand .brand-logo .logo span{
    color: black!important;
}


.button-download{
    height: 45px;
    min-width: 200px!important;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    overflow: hidden;
    border-color: #ccc;
    border-style: solid;
    background: #fff;
    font-family: Arial Black;
    font-size: 16px;
    color: #515151;
    line-height: 0px;
}

.android{
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    border-width: 1px;
    overflow: hidden;
    background-image: url("/images/favicon/favicon-32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.ios{
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    border-width: 1px;
    overflow: hidden;
    background-image: url("/images/favicon/favicon-32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.reviews-box{
    padding: 0!important;
    overflow: auto!important;
    height: 194px;
    opacity: 1;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -ms-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    overflow: auto;
}

.facebook-sign{
    display: block;
    width: 27px;
    height: 25px;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -ms-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    overflow: hidden;
    background-image: url("/images/favicon/favicon-32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.text-review{
    font-family: TomsHandwritten;
    text-align: left;
    margin: 0px;
    font-size: 15px;
    line-height: 17px;
    top: -4px;
}

.frame {
    white-space: nowrap;

    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-middle {
    vertical-align: middle;
}

.container{
    padding-right: 15px!important;
    padding-left: 15px!important;
}

@media all and (max-width: 700px){
    .make-margin{
        margin-left: 25px;
    }
    .image-middle{
        height: 100px!important;
    }
}

@media all and (min-width: 1400px){
    .make-margin{
        margin-top: 40px;
    }
}

.phone-sign{
    display: inline-block;
    width: 143px;
    height: 142px;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    overflow: hidden;
    background-image: url("/images/favicon/favicon-32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.tabs-number{
    display: inline-block;
    width: 30px;
    height: 20px;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #686868;
    border-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    font-family: TomsHandwritten;
    font-size: 20px;
    color: #fff;
    overflow: hidden;
}

.tabs-image{
    height: 294px;
    width: 100%;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    overflow: hidden;
    background-image: url("/images/favicon/favicon-32x32.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: inline-block;
}

@media all and (max-width: 1800px) {
    #app-block{
      width: auto!important;
      margin-left: 0!important;
      margin-right: 0!important;
      padding-left: 15px;
      padding-right: 15px;
    }
}

@media all and (max-width: 1024px) and (min-width: 764px){
    #menu-button-invisible{
        display: block!important;
    }
}


@media all and (min-width: 1500px){
    #vsc_row_qedjpougpl{
        display: flex;
    }
}

body.collapsed {
    right: 270px;
}

@media (max-width: 767px) {
    .navigation-header .navigation-navbar {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: right 0.4s ease;
        -moz-transition: right 0.4s ease;
        -o-transition: right 0.4s ease;
        transition: right 0.4s ease;
        position: absolute;
        top: 0;
        right: -270px;
        display: block;
        width: 270px;
        padding: 0;
        text-align: center;
        background-color: #272727;
        overflow-x: hidden;
        overflow-y: auto;
        direction: rtl;
    }
}

@media (max-width: 767px){
    .navigation-header {
        -webkit-transition: right 0.4s ease;
        -moz-transition: right 0.4s ease;
        -o-transition: right 0.4s ease;
        transition: right 0.4s ease;
        left: auto;
        right: 0;
        width: 100%;
    }

}
.navigation-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px 0 4px;
    background-color: transparent;
    z-index: 100;
}

.fixed-menu{
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    z-index: 200!important;
}

.collapsed1{
    right: 270px!important;
}

.nav-tabs li a:hover{
    border: 2px solid black!important;
    color: black!important;
}

.nav-tabs li a{
    border: 1px solid black!important;
}